body{
    font-family: var(--ff-primary);
    background-color: var(--clr-neutral-200);
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 1.8em 2em;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

.block{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    border-radius: 10px;
    padding: 1.5em;
    &:first-child{
        background-image: url("/images/bg-pattern-quotation.svg");
        background-position: 90% 0;
        background-repeat: no-repeat;
    }
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1em;
    .gravatar > img{
        border-radius: 50%;
        border: 2px solid rgba(255,255,255,.2);
    }
    .profile > span{
        display: block;
    }
}

.profile > span:first-child{
    color: var(--clr-neutral-200);
}
.testimonial-5 .profile > span:first-child, .testimonial-3 .profile > span:first-child{
    color: var(--clr-primary-600);
}
.testimonial-5 .intro, .testimonial-3 .intro{
    color: var(--clr-primary-600);
}
.profile > span:nth-child(2){
    color: var(--clr-neutral-300);
}

.intro{
    font-weight: var(--fw-600);
    color: var(--clr-primary-400);
    font-size: 1.1rem;
}
.content{
    color: var(--clr-neutral-300);
}

.testimonial-1{
    background-color: var(--clr-primary-500);
}
.testimonial-2{
    background-color: var(--clr-primary-600);
}
.testimonial-3{
    background-color: var(--clr-primary-400);
}
.testimonial-4{
    background-color: var(--clr-primary-800);
}
.testimonial-5{
    background-color: var(--clr-primary-400);
}

@media (min-width: 768px){
    .testimonial-1{
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    .testimonial-2{
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }
    .testimonial-3{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .testimonial-4{
        grid-column: 2 / span 2;
        grid-row: 2 / span 1;
    }
    .testimonial-5{
        grid-column: 4 / span 1;
        grid-row: 1 / span 2;
    }
}